<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Акканут</title>
</head>
<body>

<h3>Личный кабнет</h3>
{% if photo %}
    <img width="150" height="150" src="{{ photo.url }}" alt="avatar">
{% else %}
    <img width="150" height="150" src="{% static 'default_ava.jpg' %}" alt="avatar">
{% endif %}
<p>Фамилия: {{ surname }}</p>
<p>Имя: {{ name }}</p>
<p>Отчество: {{ patronymic }}</p>
<p>Почта: {{ email }}</p>
<p>Дата рождения: {{ date_of_birth }}</p>
<p>Телефон: {{ phone }}</p>
<p><a href="{% url 'home' %}">На главную</a></p>
<p><a href="{% url 'account_settings' %}">Настройки</a></p>
<p><a href="{% url 'logout' %}">Выход</a></p>
</body>
</html>