<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Акканут</title>
</head>
<body>

{% if photo %}
    <img width="100" height="100" src="{{ photo.url }}" alt="avatar">
{% else %}
    <img width="100" height="100" src="{% static 'default_ava.jpg' %}" alt="avatar">
{% endif %}
<p>Личный кабнет: {{ name }} {{ surname }}</p>
<p>Дата рождения: {{ date_of_birth }}</p>
<p>Телефон: {{ phone }}</p>
<p>Статус: {{ status }}</p>
<p>Почта: {{ email }}</p>
<p><a href="{% url 'home' %}">На главную</a></p>
<p><a href="{% url 'account_settings' %}">Настройки</a></p>
<p><a href="{% url 'logout' %}">Выход</a></p>
</body>
</html>