<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
</head>
<body>
<h3>Настройки личного кабинета</h3>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
{% if photo %}
    <img width="150" height="150" src="{{ photo.url }}" alt="avatar">
{% else %}
    <img width="150" height="150" src="{% static 'default_ava.jpg' %}" alt="avatar">
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
</form>
<p><a href="{% url 'password_change' %}">Изменить пароль</a></p>
<p><a href="{% url 'account' %}">Назад</a></p>
</body>
</html>