{% extends "base.html" %}
{% block content %}
    <div class="login">
        <form class="login-card" action="#" method="post">
            <h1 class="login-card__header">Войти</h1>
            <div class="login-card__fields">
                {% csrf_token %}
                {{ form.as_p }}<br>
                <button class="button button_directed button_high" type="submit">
                    <div class="button__content">Войти</div>
                </button>
                <div class="login-card__resetPass">
                    <a href="{% url "password_reset" %}">Забыли пароль?</a>
                </div>
            </div>
            <div class="login-card__help">
                <p class="login-card__text">Нет аккаунта?</p>
                <a
                        class="button button_ghostly button_high"
                        href="{% url "signup" %}"
                ><div class="button__content">Создать</div></a
                >
            </div>
        </form>
    </div>
{% endblock %}