{% load static %}
{% load urlparams %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Детали комнаты</title>
</head>
<body>
<h1>Номер: {{ room.number }}</h1>
<h3><a>Цена: {{ room.price }}</a></h3>
<h3><a>Тип: {{ room.type.nomination }}</a></h3>
<h3><a>Количество гостей: {{ room.number_of_guests }}</a></h3>
<h3><a>Средний рейтинг: {{ rating }}</a></h3>
{% if room.photos_of_room.slider_photo1 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo1.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo2 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo2.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo3 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo3.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo4 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo4.url }}"></a>
{% endif %}
<br>
<h4>Сведения о номере</h4>
<a>{{ room.type.description}}</a><br>
<h4>Отзывы посетителей номера</h4>
{% if review_list %}
    {% for review in review_list %}
            {% if  review.author.photo %}
                <img width="30" height="30" src="{{ review.author.photo.url }}" alt="avatar">
            {% else %}
                <img width="30" height="30" src="{% static 'default_ava.jpg' %}" alt="avatar">
            {% endif %}
        {{ review.author.name }} {{ review.author.surname }} <br>
        {{ review.body }}<br>
        Рейтинг: {{ review.rating }}<br><br>
    {% endfor %}
    {% else %}
    Пока нет отзывов
{% endif %}
<p><a href="{% url 'all_rooms' %}{% urlparams page=page%}">Назад</a></p>
</body>
</html>