{% load urlparams %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Свободные номера</title>
</head>
<body>
<h3>Номера, которые мы для вас подобрали</h3>
{{ error }}
<form method="post" >
    {% csrf_token %}
    Прибытие:
    <br/>
    <input type="date" value="{{ day_in }}" name="day_in"/>
    <br/>
    Выезд:
    <br/>
    <input type="date" value="{{ day_out }}" name="day_out"/>
    <br/>
    Гости:
    <br/>
    <input type="number" value="{{ number_of_guests }}" name="number_of_guests"/>
    <br/>
    Цена от:
    <br/>
    <input type="number" value="{{ price_start }}" name="price_start"/>
    <br/>
    Цена до:
    <br/>
    <input type="number" value="{{ price_end }}" name="price_end"/>

    <br/>
    <br/>
    <input type="submit" value="Применить" />
</form>
{% block content %}
{% for room in  rooms %}
    <a>Номер: {{ room.number }}</a><br>
    <a>Тип: {{ room.type }}</a><br>
    <a>Цена: {{ room.price }}</a><br>
    <a>Количество гостей: {{ room.number_of_guests }}</a><br>
    <a>Рейтинг:
        {% if room.rating %}
            {{ room.rating }}</a><br>
        {% else %}
            У номера еще нет оценок<br>
        {% endif %}
    <a href="{% url 'reserve_room' room.number %}{% urlparams day_in=day_in day_out=day_out number_of_guests=number_of_guests%}">Забронировать</a><br><br>
{% endfor %}
    {% include "../pagination_for_list_free_rooms.html" with page=rooms %}

{% endblock %}
<p><a href="{% url 'home' %}">На главную</a></p>
</body>
</html>