{% load static %}
{% load urlparams %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронирование комнаты</title>
</head>
<body>
<h1>Бронирование номера : {{ room.number }}</h1>
<h3><a>Цена: {{ room.price }} ₽ в сутки</a></h3>
<h3><a>Тип: {{ room.type }}</a></h3>
<h3><a>Количество гостей: {{ room.number_of_guests }}</a></h3>
<h3>Рейтинг:
    {% if room.rating %}
        {{ room.rating }}<br>
    {% else %}
        У номера еще нет оценок<br>
    {% endif %}</h3>
{% if room.photos_of_room.slider_photo1 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo1.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo2 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo2.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo3 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo3.url }}"></a>
{% endif %}
{% if room.photos_of_room.slider_photo4 %}
    <a><img width="100" height="100" src="{{ room.photos_of_room.slider_photo4.url }}"></a>
{% endif %}
<br>

<a>Прибытие: {{ day_in }}</a><br>
<a>Выезд: {{ day_out }}</a><br>
<a>Гости: {{ number_of_guests }}</a><br>
<a>{{ room.price }} ₽ x {{ days }} суток = {{ full_price }} ₽</a><br>

<a href="
        {% url 'pay' room.number %}{% urlparams full_price=full_price day_in=day_in day_out=day_out number_of_guests=number_of_guests %}">Забронировать</a><br><br>
<h4>Сведения о номере</h4>
<a>{{ room.type.description }}</a><br>

{% if regulations_list %}
    <h4>Правила </h4>
    {% for regulation in regulations_list %}
        {{ regulation.regulation }}<br>
    {% endfor %}
{% endif %}
<h4>Отзывы посетителей номера</h4>
{% if review_list %}
    {{ num_of_review }} отзывов<br><br>
    {% for review in review_list %}
        {% if  review.author.photo %}
            <img width="30" height="30" src="{{ review.author.photo.url }}" alt="avatar">
        {% else %}
            <img width="30" height="30" src="{% static 'default_ava.jpg' %}" alt="avatar">
        {% endif %}
        {{ review.author.name }} {{ review.author.surname }} <br>
        {{ review.body }}<br>
        Рейтинг: {{ review.rating }}<br>
        Дата публикации: {{ review.pub_date }}<br><br>
    {% endfor %}
{% else %}
    Пока нет отзывов
{% endif %}

<p><a href="
        {% url 'list_free_rooms' %}{% urlparams page=page.previous_page_number day_in=day_in day_out=day_out number_of_guests=number_of_guests %}">Назад</a>
</p>
<p><a href="{% url 'home' %}">На главную</a></p>
</body>
</html>
