<title>Сбросить пароль</title>

{% block content %}
    <h1>Востановление пароля</h1>
    {% if validlink %}
        <p>Пожалуйста, введите ваш новый пароль дважды:</p>
        <form  method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Изменить пароль"/></p>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Возможно она уже использовалась. Запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}