{% extends "base.html" %}
{% block content %}
<div class="forgot-pass">
    <form class="forgot-pass-card" action="#" method="post">
        <h1 class="forgot-pass__header">Забыли пароль</h1>
        <div class="forgot-pass-card__fields">
            <p>Введите адрес электронной почты для восстановления пароля</p>
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="forgot-pass-card__send">
            <button class="button button_directed button_high" type="submit">
                <div class="button__content">Отправить</div>
            </button>
        </div>
    </form>
</div>
{% endblock %}