{% extends "base.html" %}
{% block content %}
<div class="change-pass">
    <form class="change-pass-card" action="#" method="post">
        <h1 class="recovery-pass__header">Смена пароля</h1>
        <div class="change-pass-card__fields">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="change-pass-card__send">
            <button class="button button_directed button_high" type="submit">
                <div class="button__content">Изменить пароль</div>
            </button>
        </div>
    </form>
</div>
{% endblock %}