<!DOCTYPE html>
<html lang="ru-RU">
{% load static %}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge"/>
    <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="{% static './assets/favicons/apple-touch-icon.png' %}"
    />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"

            href="{% static 'assets/favicons/favicon-32x32.png' %}"
    /><!-- РАБОТАЕТ -->
    <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="{% static './assets/favicons/site.webmanifest' %}"
    />
    <link rel="manifest" href="{% static './assets/favicons/site.webmanifest' %}"/>
    <link
            rel="mask-icon"
            href="./assets/favicons/safari-pinned-tab.svg"
            color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#603cba"/>
    <meta name="theme-color" content="#ffffff"/>
    <title>ДИПЛОМНАЯ РАБОТА</title>
    <link href="{% static 'style_0.css' %}" rel="stylesheet"/>

</head>
<body>
{% if  user.is_authenticated %}
    <header class="headers">
        <div class="header">
            <div class="header__wrapper container">
                <div class="header__head">
                    <div class="header__logo">
                        <a class="logo" href="{% url 'home' %}"
                        ><img
                                class="logo__img"
                                src="{% static './assets/images/logo-img.svg' %}"
                                alt="TOXIN"
                        /><!-- РАБОТАЕТ --></a>
                    </div>
                    <div class="header__burger js-header__burger">
                        <div class="header__burger-divisions"></div>
                    </div>
                </div>
                <div class="header__body js-header__body">
                    {% if user.is_staff %}
                        <a class="header__item" href="{% url 'admin:index' %}">Админка</a>
                    {% endif %}
                    <a class="header__item" href="{% url 'all_rooms' %}">Все комнаты</a>
                    <div class="header__item">
                        <div class="header__avat">
                            {% if user.photo %}
                                <a href="{% url 'account' %}"></a>
                                <img width="50" height="50" src="{{ user.photo.url }}" alt="avatar">
                            {% else %}
                                <a href="{% url 'account' %}"></a>
                                <img width="50" height="50" src="{% static 'default_ava.jpg' %}" alt="avatar"/></a>
                            {% endif %}
                        </div>
                        <div class="header__user"><a
                                href="{% url 'account' %}">
                            {% if user.last_name or user.first_name %}
                                {{ user.last_name }} {{ user.first_name }}
                            {% else %}
                                Личный кабинет
                            {% endif %}
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% else %}
    <header class="headers">
        <div class="header">
            <div class="header__wrapper container">
                <div class="header__head">
                    <div class="header__logo">
                        <a class="logo" href="./"
                        ><img
                                class="logo__img"
                                src="{% static './assets/images/logo-img.svg' %}"
                                alt="TOXIN"
                        /></a>
                    </div>
                    <div class="header__burger js-header__burger">
                        <div class="header__burger-divisions"></div>
                    </div>
                </div>
                <div class="header__body js-header__body">
                    <a class="header__item" href="{% url 'all_rooms' %}">Все комнаты</a>
                    <div class="header__item">
                        <a class="button button_ghostly" href="{% url 'login' %}"
                        >
                            <div class="button__content">Войти</div>
                        </a
                        >
                    </div>
                    <div class="header__item">
                        <a class="button" href="{% url 'signup' %}"
                        >
                            <div class="button__content">Зарегистрироваться</div>
                        </a
                        >
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endif %}
<main class="main">
    {% block content %}
    {% endblock %}
</main>
<footer class="footers">
    <div class="footer">
        <div class="footer__copyrights">
            <div class="footer__content container">
                <p class="footer__copyright">
                    Copyright © 2021. Проект создан в рамках дипломной работы
                </p>
                <div class="footer__social">
                    <div class="footer__reference">
                        <div class="social-reference">
                            <a
                                    class="social-reference__link"
                                    href="https://twitter.com/?lang=ru"
                            ><img
                                    class="social-reference__img"
                                    src="{% static './assets/images/twitter-logo.svg' %}"
                                    alt="twitter"
                                    height="22px"
                                    width="22px"
                            /></a>
                        </div>
                    </div>
                    <div class="footer__reference">
                        <div class="social-reference">
                            <a
                                    class="social-reference__link"
                                    href="https://ru-ru.facebook.com/"
                            ><img
                                    class="social-reference__img"
                                    src="{% static './assets/images/facebook-logo.svg' %}"
                                    alt="facebook"
                                    height="22px"
                                    width="22px"
                            /></a>
                        </div>
                    </div>
                    <div class="footer__reference">
                        <div class="social-reference">
                            <a
                                    class="social-reference__link"
                                    href="https://www.instagram.com/?hl=ru"
                            ><img
                                    class="social-reference__img"
                                    src="{% static './assets/images/instagram-logo.svg' %}"
                                    alt="instagram"
                                    height="22px"
                                    width="22px"
                            /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-mobile">
        <div class="footer-mobile__copyrights">
            <div class="footer-mobile__logo">
                <a class="logo" href="./"
                ><img
                        class="logo__img"

                        src="{% static './assets/images/logo-img.svg' %}"
                        alt="TOXIN"
                /></a>
            </div>
            <p class="footer-mobile__text">
                Copyright © 2021. Проект создан в рамках дипломной работы
            </p>
            <div class="footer-mobile__socials">
                <div class="footer-mobile__link">
                    <div class="social-reference">
                        <a class="social-reference__link" href="/plug-link"
                        ><img
                                class="social-reference__img"
                                src="{% static './assets/images/twitter-logo.svg' %}"
                                alt="twitter"
                                height="22px"
                                width="22px"
                        /></a>
                    </div>
                </div>
                <div class="footer-mobile__link">
                    <div class="social-reference">
                        <a class="social-reference__link" href="/plug-link"
                        ><img
                                class="social-reference__img"
                                src="{% static './assets/images/facebook-logo.svg' %}"
                                alt="facebook"
                                height="22px"
                                width="22px"
                        /></a>
                    </div>
                </div>
                <div class="footer-mobile__link">
                    <div class="social-reference">
                        <a class="social-reference__link" href="/plug-link"
                        ><img
                                class="social-reference__img"
                                src="{% static './assets/images/instagram-logo.svg' %}"
                                alt="instagram"
                                height="22px"
                                width="22px"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'bundle_0.js' %}"></script>
</body>
</html>