{% load urlparams %}
<div class="pagination">
 <span class="step-links">
  {% if page.has_previous %}
      <a href="{% urlparams page=page.previous_page_number day_in=day_in day_out=day_out number_of_guests=number_of_guests %}">Назад</a>
  {% endif %}
     <span class="current">
  Страница {{ page.number }} из {{ page.paginator.num_pages }}
    </span>
     {% if page.has_next %}
         <a href="{% urlparams page=page.next_page_number day_in=day_in day_out=day_out number_of_guests=number_of_guests %}">Вперед</a>
     {% endif %}
  </span>
</div>


