{% load urlparams %}
<div class="searched--rooms__pagination">
    <div class="pagination">
        <div class="pagination__items">
            {% if page.has_previous %}
                <a class="pagination__item pagination__item_leftarrow" href="{% urlparams page=page.previous_page_number day_in=day_in day_out=day_out number_of_guests=number_of_guests %}"></a>
            {% endif %}
            <div class="pagination__item">{{ page.number }}</div>
            <div class="pagination__item">из</div>
            <div class="pagination__item">{{ page.paginator.num_pages }}</div>
            {% if page.has_next %}
                <a class="pagination__item pagination__item_arrow" href="{% urlparams page=page.next_page_number day_in=day_in day_out=day_out number_of_guests=number_of_guests %}"></a>
            {% endif %}
        </div>
    </div>
</div>


